.background {
    position: relative;
    height: 50vh;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #333;
        --background-overlay: #5e784872;
        --text-color: #c0c0c0;
        --name-color: #39507a;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: #f6eee3;
        --background-overlay: #b1cd9672;
        --text-color: #2e2e2e;
        --name-color: #343f55;
    }
}


.picture-formatting {
    margin-left: 5vw;
    z-index: 2;
}

.text {
    position: relative;
    overflow-y: auto;
    z-index: 1;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.button-group-formatting {
    margin-left: 25vw;
}

.content-container {
    height: 80vh;
    margin-bottom: 2vh;
}

.mobile-picture-formatting {
    margin-left: 15vw;
}

.mobile-home-name {
    font-size: 8vh;
    color: var(--name-color);
    font-weight: bold;

}

.mobile-intro {
    font-size: 3.5vh;
}


.mobile-text-container {
    margin-left: 6vw;
    margin-right: 6vw;
    margin-top: 2vh;
    margin-bottom: 5vh;
}

.mobile-text {
    font-size: 2.5vh;
}

.mobile-whats-new {
    font-size: 6vh;
    color: var(--name-color);
}

.mobile-icons {
    text-align: end;
    margin-bottom: 2vh;
}