.background {
    position: relative;
    height: 50vh;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #333;
        --background-overlay: #5e784872;
        --text-color: #c0c0c0;

    }
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: #f6eee3;
        --background-overlay: #b1cd9672;
        --text-color: #2e2e2e;
    }
}

.picture-formatting {
    margin-left: 5vw;
}

.button-group-formatting {
    margin-left: 23vw;
}

.content-container {
    height: 80vh;
    margin-bottom: 2vh;
}