.intro {
    font-size: 4vw;
    font-weight: bold;
    margin-top: 18vh;
    margin-left: 5vw;
    color: var(--text-color);
}

@media screen and (min-width: 768px) {
    .background::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--background-overlay);
        z-index: -1;
        clip-path: circle(50% at 50% calc(100% - 70px));
    }
}

.contact-me-font {
    font-size: 1.5vw;
    font-weight: bold;
    color: var(--text-color);
}

.info-font {
    font-size: 1vw;
    color: var(--text-color);
}

.about-me-font {
    font-size: 1.4vw;
    color: var(--text-color);
}

.subtitle-container {
    width: 50vw;
    margin-left: 10vw;
    margin-top: 6vh;
}

.circular-image {
    width: 15vw;
    height: 30vh;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--background-color);
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 40vh;
    left: 85vw;
    transform: translate(-50%, -50%);
}

.grad-image {
    width: 22vw;
    height: 44vh;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--background-color);
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 70vh;
    left: 78vw;
    transform: translate(-50%, -50%);
}

.grad-image img,
.circular-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mobile-circular-image {
    width: 44vw;
    height: 22vh;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--background-color);
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 72vh;
    left: 70vw;
    transform: translate(-50%, -50%);
}

.mobile-grad-image {
    width: 52vw;
    height: 26vh;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--background-color);
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 84vh;
    left: 33vw;
    transform: translate(-50%, -50%);
}

.mobile-about-me-font {
    font-size: 4vw;
    color: var(--text-color);
}

.mobile-subtitle-container {
    width: 84vw;
    margin-left: 12vw;
    margin-top: 3vh;
}

.mobile-intro {
    font-size: 6.2vw;
    font-weight: bold;
    margin-left: 5vw;
    margin-top: 5vw;
    color: var(--text-color);
}

.mobile-grad-image img,
.mobile-circular-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mobile-contact-me-container {
    margin-top: 5vh;
    margin-left: 8vw;
    margin-bottom: 3vh;
    font-weight: bold;
}

.mobile-contact-me-font {
    font-size: 4vw;
    color: var(--text-color);
}

.mobile-info-font {
    font-size: 3vw;
    color: var(--text-color);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #333;
        --background-overlay: rgba(105, 88, 31, 0.521);
        --text-color: #f0f0f0;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: #fff;
        --background-overlay: rgba(255, 234, 165, 0.7);
        --text-color: #444444;
    }
}