.text-container {
    margin-left: 2vw;
    margin-right: 2vw;
}

.contact-me {
    font-size: 5.5rem;
    color: var(--name-color);
    font-weight: bold;
    margin-bottom: 2vh;
    margin-top: 5vh;
}

.icons {
    margin-top: -70px;
    margin-left: 1vw;
}

@media (prefers-color-scheme: dark) {
    :root {
        --am-bg-color: #1d1d20;
        --name-color: #39507a;
        --text-color: #c0c0c0;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: #f6eee3;
        --text-color: #2d2b30;
        --name-color: #343f55;
    }
}