.navbar-burger {
    display: none;
}

@media (max-width: 1024px) {
    .navbar-burger {
        display: block;
    }

    .navbar-menu {
        display: none;
    }

    .navbar-menu.is-active {
        display: block;
    }
}